<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCG9jBPxeOwKkZ7TbAmogPfG5AzvFZaI40</string>
	<key>GCM_SENDER_ID</key>
	<string>1026198934075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theeap.app</string>
	<key>PROJECT_ID</key>
	<string>the-eap-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-eap-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026198934075:ios:1fa398128fd0ba56c0c21e</string>
</dict>
</plist>